#blog{
    /* width: 50%; */
    margin: auto;
}

.link {
    color: blue;
    text-decoration: none;

    &:hover {
      color: rgb(87, 66, 172);
    }
}

section{
  font-weight: 700;
  margin: 15px auto;
}

text{
  color: rgb(36, 98, 253);
}

#blog-tags{
  display: flex;
  flex-wrap: wrap;
}

.tag{
  margin-right: 10px;
}

.all{

}

#blog-header{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;

}

#blog-heading{
  position: absolute;
  /* margin-bottom: 5rem; */
  /* margin: 0px auto; */
  z-index: 2;
  /* transform: translate(0%, 100%); */
}

#blog-pic{
  width: 100%;
  position: relative;
}

#blog-title{
  text-shadow: 1px 1px 2px rgb(32, 32, 32);
  text-align: left;
}

#blog-written-date{
  margin-top: 5px;
}