#blog{
    /* width: 50%; */
    margin: auto;
}

.link {
    color: blue;
    text-decoration: none;

    &:hover {
      color: rgb(87, 66, 172);
    }
}

section{
  font-weight: 700;
  margin: 15px auto;
}

text{
  color: rgb(36, 98, 253);
}

#blog-tags{
  display: flex;
  flex-wrap: wrap;
}

.tag{
  margin-right: 10px;
}

.all{

}

#blog-header{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;

}

#blog-heading{
  position: absolute;
  /* margin-bottom: 5rem; */
  /* margin: 0px auto; */
  z-index: 2;
  /* transform: translate(0%, 100%); */
}

#blog-pic{
  width: 100%;
  position: relative;
}

#blog-title{
  text-shadow: 1px 1px 2px rgb(32, 32, 32);
  text-align: left;
}

#blog-written-date{
  color: black;
  text-shadow: 0px 0px 3px rgb(225, 225, 225);
  /* -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: white; */
}

#sep-line{
  height: 1vh;
  display: flex;
}

.sep1{
  background-color: rgb(188, 230, 255);
}
.sep2{
  background-color: rgb(121, 206, 255);
}
.sep3{
  background-color:rgb(52, 176, 248);
}